In [1]:
import pandas as pd

##### Carga de los DataFrames

In [4]:
df_items = pd.read_csv('items.csv',  index_col=False)
df_reviews = pd.read_csv('reviews_sa.csv', index_col=False)
df_steam = pd.read_csv('steam_games.csv', index_col=False)
df_steam_exploded = pd.read_csv('steam_exploded.csv', index_col=False)

##### Peque√±a Visualizacion de los dataframes

In [6]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3246337 entries, 0 to 3246336
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           int64
 2   item_name         object
 3   playtime_forever  int64
dtypes: int64(2), object(2)
memory usage: 99.1+ MB

In [7]:
df_items.head()

             user_id  item_id               item_name  playtime_forever
0  76561197970982479        1          Counter-Strike                 6
1  76561197970982479        3           Day of Defeat                 7
2  76561197970982479        3   Day of Defeat: Source              4733
3  76561197970982479        2  Counter-Strike: Source              1853
4  76561197970982479        3             Psychonauts               333

In [8]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48498 entries, 0 to 48497
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             48498 non-null  object
 1   posted              48498 non-null  object
 2   item_id             48498 non-null  int64
 3   recommend           48498 non-null  bool
 4   sentiment_analysis  48498 non-null  int64
dtypes: bool(1), int64(2), object(2)
memory usage: 1.5+ MB

In [9]:
df_reviews.head()

             user_id      posted  item_id  recommend  sentiment_analysis
0  76561197970982479  05-11-2011     1250       True                   2
1  76561197970982479  15-07-2011    22200       True                   2
2  76561197970982479  21-04-2011    43110       True                   2
3            js41637  24-06-2014   251610       True                   2
4            js41637  08-09-2013   227300       True                   2

In [10]:
df_steam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28833 entries, 0 to 28832
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28833 non-null  object
 1   item_name     28832 non-null  object
 2   release_date  28833 non-null  object
 3   item_id       28833 non-null  int64
 4   user_id       0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.1+ MB

In [11]:
df_steam.head()

,genres,item_name,release_date,item_id,user_id
0,['Action' 'Casual' 'Indie' 'Simulation' 'Strat...,Lost Summoner Kitty,2018-01-04,761140,NaN
1,['Free to Play' 'Indie' 'RPG' 'Strategy'],Ironbound,2018-01-04,643980,NaN
2,['Casual' 'Free to Play' 'Indie' 'Simulation' ...,Real Pool 3D - Poolians,2017-07-24,670290,NaN
3,['Action' 'Adventure' 'Casual'],ÂºπÁÇ∏‰∫∫2222,2017-12-07,767400,NaN
4,['Action' 'Adventure' 'Simulation'],Battle Royale Trainer,2018-01-04,772540,NaN

In [12]:
df_steam_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71498 entries, 0 to 71497
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        71498 non-null  object
 1   item_name     71496 non-null  object
 2   release_date  71498 non-null  object
 3   item_id       71498 non-null  int64
 4   user_id       0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ MB

In [13]:
df_steam_exploded.head()

       genres            item_name release_date  item_id  user_id
0      Action  Lost Summoner Kitty   2018-01-04   761140      NaN
1      Casual  Lost Summoner Kitty   2018-01-04   761140      NaN
2       Indie  Lost Summoner Kitty   2018-01-04   761140      NaN
3  Simulation  Lost Summoner Kitty   2018-01-04   761140      NaN
4    Strategy  Lost Summoner Kitty   2018-01-04   761140      NaN

Modelo de aprendizaje autom√°tico:

Una vez que toda la data es consumible por la API, est√° lista para consumir por los departamentos de Analytics y Machine Learning, y nuestro EDA nos permite entender bien los datos a los que tenemos acceso, es hora de entrenar nuestro modelo de machine learning para armar un sistema de recomendaci√≥n. Para ello, te ofrecen dos propuestas de trabajo: En la primera, el modelo deber√° tener una relaci√≥n √≠tem-√≠tem, esto es se toma un item, en base a que tan similar esa ese √≠tem al resto, se recomiendan similares. Aqu√≠ el input es un juego y el output es una lista de juegos recomendados, para ello recomendamos aplicar la similitud del coseno. La otra propuesta para el sistema de recomendaci√≥n debe aplicar el filtro user-item, esto es tomar un usuario, se encuentran usuarios similares y se recomiendan √≠tems que a esos usuarios similares les gustaron. En este caso el input es un usuario y el output es una lista de juegos que se le recomienda a ese usuario, en general se explican como ‚ÄúA usuarios que son similares a t√≠ tambi√©n les gust√≥‚Ä¶‚Äù. Deben crear al menos uno de los dos sistemas de recomendaci√≥n (Si se atreven a tomar el desaf√≠o, para mostrar su capacidad al equipo, ¬°pueden hacer ambos!). Tu l√≠der pide que el modelo derive obligatoriamente en un GET/POST en la API s√≠mil al siguiente formato:

Si es un sistema de recomendaci√≥n item-item:

def recomendacion_juego( id de producto ): Ingresando el id de producto, deber√≠amos recibir una lista con 5 juegos recomendados similares al ingresado.
Si es un sistema de recomendaci√≥n user-item:

def recomendacion_usuario( id de usuario ): Ingresando el id de un usuario, deber√≠amos recibir una lista con 5 juegos recomendados para dicho usuario.

In [5]:

df_reviews_shuffled = df_reviews.head(10000)
df_reviews_shuffled = df_reviews_shuffled.sample(frac=1, random_state=42) 

from sklearn.metrics.pairwise import cosine_similarity

# Crear una matriz de usuarios como caracter√≠sticas y juegos como filas
user_item_matrix = df_reviews_shuffled.pivot_table(index='user_id', columns='item_id', values='sentiment_analysis').fillna(0)

# Calcular la similitud entre usuarios usando la similitud del coseno
user_similarity = cosine_similarity(user_item_matrix)

In [17]:
def recomendacion_usuario(user_id):
    # Obtener la fila correspondiente al usuario ingresado
    user_vector = user_item_matrix.loc[user_id].values.reshape(1, -1)
    
    # Calcular la similitud entre el usuario ingresado y todos los dem√°s usuarios
    similarities = cosine_similarity(user_vector, user_item_matrix)
    
    # Obtener los juegos que los usuarios similares a 'user_id' han disfrutado
    user_reviews = user_item_matrix.loc[user_id]
    similar_users = df_reviews['user_id'][similarities.argsort()[0][-6:-1]]
    recommended_items = user_item_matrix.loc[similar_users].mean(axis=0).sort_values(ascending=False)
    
    # Filtrar los juegos que el usuario ya ha jugado
    recommended_items = recommended_items[recommended_items.index.isin(user_reviews[user_reviews == 0].index)]
    
    return recommended_items.index.tolist()[:5]

In [18]:
df_reviews_shuffled.head(3)

                user_id      posted  item_id  recommend  sentiment_analysis
6252            barbas1  26-10-2013     4000       True                   2
4684  76561198056212336  26-11-2013   236850       True                   2
1731  76561198103524411  24-07-2014   200510       True                   2

In [19]:
df_reviews_shuffled.tail()

                user_id      posted  item_id  recommend  sentiment_analysis
5734     UniIsBestWaifu  24-09-2015   333980       True                   2
5191             Z1_M4N  26-07-2012   105600       True                   2
5390  76561198080889775  22-05-2014    34330       True                   1
860          bobseagull  07-05-2014    49520       True                   0
7270  76561197996426485  17-10-2014   241930       True                   2

##### Probamos el sistema de recomendacion

In [20]:
recomendacion_usuario('barbas1')

[440, 10680, 239220, 202170, 236370]

juego jugado por el usuario barbas1 en el dataset

In [21]:
df_reviews_shuffled[df_reviews_shuffled['user_id'] == 'barbas1']

      user_id      posted  item_id  recommend  sentiment_analysis
6252  barbas1  26-10-2013     4000       True                   2

Buscamos el nombre del juego con el item_id en el dataframe steam

Juegos que recomendo/no recomendo el usuario barbas1 en el dataframe reviews

In [22]:
df_steam[df_steam['item_id'] == 4000]

                    genres    item_name release_date  item_id  user_id
46  ['Indie' 'Simulation']  Garry's Mod   2006-11-29     4000      NaN

Juegos recomendados : [440, 10680, 239220, 202170, 236370]

In [23]:
df_steam[df_steam['item_id'] == 440]

,genres,item_name,release_date,item_id,user_id
28584,['Action' 'Free to Play'],Team Fortress 2,2007-10-10,440,NaN

In [25]:
df_steam[df_steam['item_id'] == 10680]

           genres             item_name release_date  item_id  user_id
28249  ['Action']  Aliens vs. Predator‚Ñ¢   2010-02-16    10680      NaN

In [26]:
df_steam[df_steam['item_id'] == 236370]

,genres,item_name,release_date,item_id,user_id
26864,['Action' 'Indie' 'RPG' 'Simulation' 'Early Ac...,Interstellar Marines,2013-07-02,236370,NaN

In [27]:
df_items[df_items['item_id'] == 239220]

Empty DataFrame
Columns: [user_id, item_id, item_name, playtime_forever]
Index: []

Vemos que debido a la limpieza de datos , o a datos faltantes algunos juegos no figuran en los otros dataframes solo estan en reviews

In [28]:
df_steam[df_steam['item_id'] == 239220]

Empty DataFrame
Columns: [genres, item_name, release_date, item_id, user_id]
Index: []

In [29]:
df_items[df_items['item_id'] == 202170]

Empty DataFrame
Columns: [user_id, item_id, item_name, playtime_forever]
Index: []

In [30]:
df_steam[df_steam['item_id'] == 202170]

Empty DataFrame
Columns: [genres, item_name, release_date, item_id, user_id]
Index: []

In [31]:
recomendacion_usuario('UniIsBestWaifu')

[265630, 240, 8870, 227700, 570]

Juegos que recomendo/no recomendo el usuario UniIsBestWaifu en el dataframe reviews

In [32]:
df_reviews[df_reviews['user_id'] == 'UniIsBestWaifu']

             user_id      posted  item_id  recommend  sentiment_analysis
5733  UniIsBestWaifu  07-09-2015    17730      False                   0
5734  UniIsBestWaifu  24-09-2015   333980       True                   2

Juegos que recomendo el modelo para el usuario UnilsBestWaifu

In [33]:
df_steam[df_steam['item_id'] == 240]

           genres               item_name release_date  item_id  user_id
28725  ['Action']  Counter-Strike: Source   2004-11-01      240      NaN

In [34]:
df_steam[df_steam['item_id'] == 8870]

           genres          item_name release_date  item_id  user_id
27034  ['Action']  BioShock Infinite   2013-03-25     8870      NaN

In [39]:
df_steam[df_steam['item_id'] == 265630]

,genres,item_name,release_date,item_id,user_id
2095,['Action' 'Free to Play' 'Indie'],Fistful of Frags,2014-05-09,265630,NaN

Algunos juegos no est√°n en los dem√°s dataframes

In [37]:
df_items[df_items['item_id'] == 265630]

Empty DataFrame
Columns: [user_id, item_id, item_name, playtime_forever]
Index: []

In [35]:
df_items[df_items['item_id'] == 570]

Empty DataFrame
Columns: [user_id, item_id, item_name, playtime_forever]
Index: []

In [42]:
df_steam[df_steam['item_id'] == 570]

Empty DataFrame
Columns: [genres, item_name, release_date, item_id, user_id]
Index: []

In [40]:
df_steam[df_steam['item_id'] == 227700]

Empty DataFrame
Columns: [genres, item_name, release_date, item_id, user_id]
Index: []

In [41]:
df_items[df_items['item_id'] == 227700]

Empty DataFrame
Columns: [user_id, item_id, item_name, playtime_forever]
Index: []

Si tuvieramos mas recursos computacionales podriamos usar los podriamos hacer un merge entre los dataframes con todos los datos y el modelo seria mucho mas efectivo, ademas que usamos muy pocas filas debido a la falta de recursos computacionales